<h1>Listing example_sentences</h1>

<table>
  <tr>
    <th>Tatoeba</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @example_sentences.each do |example_sentence| %>
  <tr>
    <td><%= example_sentence.tatoeba_id %></td>
    <td><%= example_sentence.text %></td>
    <td><%= link_to 'Show', example_sentence %></td>
    <td><%= link_to 'Edit', edit_example_sentence_path(example_sentence) %></td>
    <td><%= link_to 'Destroy', example_sentence, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Example sentence', new_example_sentence_path %>
