<h1>Listing session_scores</h1>

<table>
  <tr>
    <th>User</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @session_scores.each do |session_score| %>
  <tr>
    <td><%= session_score.user %></td>
    <td><%= session_score.score %></td>
    <td><%= link_to 'Show', session_score %></td>
    <td><%= link_to 'Edit', edit_session_score_path(session_score) %></td>
    <td><%= link_to 'Destroy', session_score, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Session score', new_session_score_path %>
